@use 'variables' as *;

.card-container {
  padding: 50px 40px;
  display: grid;
  grid-template-columns: repeat(1, 200px);
  grid-gap: 46px 48px;
  justify-content: center;

  @media screen and (min-width: 488px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }
}

.card {
  width: $card-width;
  display: flex;
  flex-direction: column;
  padding: $card-padding;
  border: 1px solid $border-color;
  border-radius: 5px;
  background-color: $background-color;
  box-sizing: border-box;
  transition: transform $hover-time ease;



  &__image {
    width: $image-width;
    height: $image-height;
    margin: 0 auto 40px;
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $main-color;
    margin-bottom: 4px;
    transition: color $hover-time ease;
  }

  &:hover{
    transform: scale(1.2);

    & .card__title {
      color: $main-color-hover;
    }
  }


  &__description {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $secondary-color;
    margin-bottom: 16px;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    box-sizing: border-box;

    &-count {
      font-size: 10px;
      font-weight: 400;
      line-height: 14px;
      color: $main-color;
      box-sizing: border-box;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    box-sizing: border-box;

    &-label {
      font-size: 12px;
      font-weight: 400px;
      line-height: 18px;
      color: #616070;
    }

    &-value {
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      color: $main-color;
    }
  }

  &__button {
    display: block;
    width: 100%;
    height: 40px;
    background-color: $accent-color;
    border: 1px solid $accent-color;
    border-radius: 5px;
    color: $link-color;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    box-sizing: border-box;

    &:hover {
      background-color: $background-color;
      color: $accent-color;
    }
  }
}
